*{margin: 0px;padding: 0px;}
body{background: url(../../img/shouye/body--grey.jpg) no-repeat;background-size: 100% 100%; background-attachment: fixed; font-family: 'Microsoft Yahei'}
.body_cent{width:1156px; margin: 0 auto; }
.nav{width:1156px;height: 125px; border-bottom: 2px solid #d8568e; position: relative;}
.menu li{float: left;list-style: none; padding: 0px 0px; font-size: 18px;}
.nav ul{position: absolute;left: 130px;top: 90px;}
.nav ul li{padding:0px 0px 13px 0px;}
.nav .menu-item .u1,.u3,.u4,.u5,.u2{text-decoration: none;color: rgb(40,75,116);padding:0px 20px;border-right: 1px solid #ccd3dd;}
.active{color:rgb(216,86,142);text-decoration: none;padding:0px 20px;border-right: 1px solid #ccd3dd;}
.nav .logo{position: absolute;top: 20px;left: 20px;}
.nav .contact{float: right;padding-top:5px;position: relative;}
.contact span{font-size: 14px;display: block;float: left;padding-top:3px;color: rgb(40,75,116);padding-left: 5px;font-weight:bolder;}
.swiper-container{width: 1156px;height: 360px;}
.swiper-wrapper{width: 5780px;height: 360px;}
.clear{height: 35px;}
.clear1{height: 35px;}
.section_search{width: 1156px;height: 103px;background:rgb(216,86,142); position: relative;}
.biaoqian{font-size: 16px;position: absolute;top:43px;left:57px;color: #FFFFFF;}
.condition{padding-top: 34px;}
.xuanxiang1{float: right;margin-left: 20px;position: absolute;left: 240px; cursor: pointer;}
.xuanxiang1 span{text-align: center;background: white;font-size: 12px;float: left;padding: 11.5px 0px;width: 130px;}
.xuanxiang1 img{margin-left: 3px;}
.xuanxiang2{float: right;margin-left: 20px;position: absolute;left: 420px;cursor: pointer;}
.xuanxiang2 span{text-align: center;background: white;font-size: 12px;float: left;padding: 11.5px 0px;width: 130px;}
.xuanxiang2 img{margin-left: 3px;}
.xuanxiang3{float: right;margin-left: 20px;position: absolute;left: 600px;cursor: pointer;}
.xuanxiang3 span{text-align: center;background: white;font-size: 12px;float: left;padding: 11.5px 0px;width: 130px;}
.xuanxiang3 img{margin-left: 3px;}
.xuanxiang4{float: right;margin-left: 20px;position: absolute;left: 780px;cursor: pointer;}
.xuanxiang4 span{text-align: center;background: white;font-size: 12px;float: left;padding: 11.5px 0px;width: 130px;}
.xuanxiang4 img{margin-left: 3px;}
.search{width:169px;height:30px;border: none; position: absolute;top:85px;right: 32px}
.searchsubmit{width: 30px;height: 30px; background: url(../../img/shouye/search.jpg);border: none;position: absolute;top:85px;right: 0px;}
.second .chanpin{width: 720px;height: 370px;position:absolute;top: 46px;left: -130px;display: none;background: white;border-radius: 5px;z-index: 999;}
.second .chanpin .tuomaogao{display:block;margin:-60px 0px 0px -110px;width:120px;}
.second .chanpin .lazhi{display:block;margin:-60px 0px 0px 50px;width:120px;}
.second .chanpin .muyu{display:block;margin:-60px 0px 0px 210px;width:120px;}
.second .chanpin li{list-style: none; float: none;}
.second .chanpin li a{font-size:14px;text-decoration: none;color: rgb(40,75,116);}
.second .chanpin li a:hover{color:#d8568e ;}
.second .chanpin ul li:first-child{text-align: center;padding:0px 30px 15px 30px ;border-bottom: 2px solid #d8568e;}
.second .chanpin ul li:first-child a{color:#d8568e;}
.second .chanpin ul li:nth-child(2){padding-top: 20px;}
.second .chanpin .lazhi li:nth-child(2){padding-right: 20px;}{}
.second .chanpin .tuijian{margin:-35px 0px 0px 390px;}
.second .chanpin .tuijian li a{text-align: center;margin-left:8px ;}
.second .chanpin .tuijian img{width: 150px;height: 210px;}
.second .chanpin .liaojie{width: 150px;height: 35px; border: 2px solid #d8568e;display: block;text-align: center;line-height: 35px;text-decoration: none;color:rgb(40,75,116);}
.second .chanpin .liaojie:hover{background: #d8568e; color: #FFFFFF;}
.second .chanpin:before{content: '';width: 0;height: 0;border: 17px solid transparent;border-bottom: 20px solid white;position: absolute;top: -26px;left: 242px;}
.second .chanpin:after{content: '';width: 0;height: 0;border: 15px solid transparent;border-bottom: 18px solid white;position: absolute;top: -22px;left: 242px;}
.xueyuan{width: 720px;height: 80px;position:absolute;top: 46px;left: -130px;display: none;background: white;border-radius: 5px;z-index: 999;}
.xueyuan ul{margin:-60px 0px 0px -130px;}
.xueyuan a{font-size:14px;text-decoration: none;color: rgb(40,75,116);padding-left:36px;}
.xueyuan:before{content: '';width: 0;height: 0;border: 17px solid transparent;border-bottom: 20px solid white;position: absolute;top: -26px;left: 353px;}
.xueyuan:after{content: '';width: 0;height: 0;border: 15px solid transparent;border-bottom: 18px solid white;position: absolute;top: -22px;left: 353px;}
.about{width: 520px;height: 80px;position:absolute;top: 46px;left: 200px;display:none;background: white;border-radius: 5px;z-index: 999;}
.about ul{margin:-60px 0px 0px -130px;}
.about a{font-size:14px;text-decoration: none;color: rgb(40,75,116);padding-left:36px;}
.about:before{content: '';width: 0;height: 0;border: 17px solid transparent;border-bottom: 20px solid white;position: absolute;top: -26px;left: 250px;}
.about:after{content: '';width: 0;height: 0;border: 15px solid transparent;border-bottom: 18px solid white;position: absolute;top: -22px;left: 250px;}
.searchbtn{cursor: pointer;width: 116px;height: 31px;border: 2px solid #FFFFFF; text-align: center;line-height: 31px; color: #FFFFFF;position: absolute;right: 60px;}
.clear3{width:100%;height: 20px;}
.clear4{width:100%;height:20px;}
.clear5{width:100%;height: 20px;}
.clear6{width:100%;height: 1000px;}
/*.bott{width: 100%;height:400px;border: 1px solid red;margin: none;}*/
.foot-menu{width: 100%;height: 279px;background:rgb(228,228,228);}
.content{overflow: hidden;}
.clear7{width:100%;height: 20px;background: rgb(235,235,235);}
.bot_txt{width: 100%;height: 72px;background:rgb(235,235,235);}
.clear8{width:100%;height: 20px;background: rgb(235,235,235);}
.foot-menu .foot-con{width:900px;height: 279px;margin: 0 auto;padding-left: 50px;}
.foot-con ul{display:block;float: left;padding-right: 50px;}
.foot-con ul a{text-decoration: none;font-size: 14px;color: rgb(114,113,113); }
.foot-con ul li{list-style: none;padding-bottom:10px ;}
.foot-con .foot-title a{font-size: 20px;padding: 15px 0px;display: block;border-bottom: 2px solid rgb(114,113,113); color: rgb(40,75,116);}
.foot-con .guanzhu a{font-size: 20px;padding: 15px 0px;display: block; color: rgb(40,75,116);text-align: center;}
.foot-con .guanzhu p{text-align: center;}
.foot-con .guanzhu p a{padding: 6px;display: inline-block;}
.bot_txt a img{display: block;float: left;}
.bot_txt p{font-size: 12px; display: block;float: left; color: #8e8e8e;padding-left: 20px;line-height: 25px;}
.bot_txt p a{padding: 0px 5px;color:  #8e8e8e;}
.bot_txt .bot_con{width:575px;height: 72px; margin: 0 auto;}
